{% load static %}

<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hats n colleagues | Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'beforereg/style.css' %}">

</head>



<body>
    <div class="container">
        <div class="navbar">
          <img src="{% static 'beforereg/images/logo1.jpeg' %}" alt="logo" class="logo">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="loggedin/contactus/">Contact us</a></li>
              <li><a href="join/">Join a team</a></li>
              <li><a href="find/">Find a teammate</a></li>
              <li><a href={% url 'logoutuser' %}>Sign out</a></li>
            </ul>
          </nav>
        </div>
      </div>
    <header class="canva">
        <div class="text">
            <h3>

                Welcome ,  {{ user.first_name }}
            </h3>
            </br>

            <p class="big">Have trouble finding teammates? That's where we come in</p>
            <p class="small">First year of college, fest season on, a surge of events and competitions charging right
                at you. Wanna make the most of it, but you are still just getting to know people...<br> Wander not...
                Coz this is exactly where our site comes in. Just login on our site and you can see the list of events
                being held and will also be able to find a bunch of like-minded people to team up with !</p>

        </div>
    </header>
    <section class="flip">
        <div class="pic1">
            <img src="{% static 'beforereg/images/first.png' %}" class="first" alt="team1">
        </div>
        <p class="info1">
        <h2 class="info1 larget">Know the peeps</h2>
        <p class="info1 smallt">Still finding your way around college and looking for people you may be competitive
            with? We
            have it sorted
            for you, as here you'll come across a bunch of your colleagues interested in the same things as you are.
        </p>
        </p>
        <div class="pic1">
            <img src="{% static 'beforereg/images/third.png' %}" class="first" alt="team3">
        </div>
        <div class="vl">
            <p class="info2">
            <h2 class="info2 large2 larget">Know the events</h2>
            <p class="info2 smallt">It is easy to get confused when you have a plethora of events to choose from. Here,
                you get
                the entire
                list of
                upcoming events, find the ones you are interested in and signup! No chance of losing track now,huh?
            </p>
            </p>
            <div class="pic2">
                <img src="{% static 'beforereg/images/second.png' %}" class="sec" alt="team2">
            </div>
            <p class="info2">
            <h2 class="info2 large2 larget">Team up!</h2>
            <p class="info2 smallt"> Once you find your potential teammates, all you need to do is get in touch with
                them and
                there you go!
                Your team's ready.
            </p>
            </p>
        </div>
    </section>
    <footer>
        <div class="social">
            <h3 class="foot">
                STAY CONNECTED !
            </h3>
            <div class="middle">
                <ul class="last">
                    <li><a href="https://www.linkedin.com/in/anurag-singh-5aa76120b" target="_blank">Linkedin</a>
                    </li>
                    <li><a href="https://www.instagram.com/hats.andcolleagues/" target="_blank">Instagram</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>