{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hats n colleagues | Find a teammate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'afterlogin/sfind.css' %}">

</head>

<body>
    <div class="container">
        <div class="navbar">
            <img src="{% static 'afterlogin/images/logo1.jpeg' %}" alt="logo" class="logo">
            <nav>
                <ul>
                    <li><a href="hats.html">Home</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="join.html">Join a team</a></li>
                    <li><a href="#">Find a teammate</a></li>
                    <li><a href="hats.html">Log out</a></li>
                    <li><a href="#">Sign out</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="contact">
        <p class="over">Find a teammate</p>
    </div>
    <div class="box">
        <div class="right">
            <form action="">
                <p class="txt">
                    <label for="choose">CHOOSE AN EVENT : </label>
                </p><br>
                <input list="events" name="event" placeholder="Select" class="rect">
                <datalist id="events">
                    <option value="Devjam">
                    <option value="Codestart">
                    <option value="Robo club competition">
                    <option value="Hack 36">
                </datalist>
                <input type="submit" value="Submit" class="button">
            </form>
        </div>
        <br>
        <div>
            <p class="text">LOOKING FOR A TEAMMATE...</p>
        </div>
    </div>
        <footer>
            <div class="social">
                <h3 class="foot">
                    WE'RE A SOCIAL!
                </h3>
                <div class="middle">
                    <ul class="last">
                        <li><a href="https://www.linkedin.com/in/anurag-singh-5aa76120b" target="_blank">Linkedin</a>
                        </li>
                        <li><a href="https://www.instagram.com/hats.andcolleagues/" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </footer>
</body>

</html>