{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hats n colleagues | Find a teammate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'afterlogin/sfindnew.css' %}">
<script type="text/javascript">
        window.addEventListener('scroll', reveal);
        function reveal() {
            var reveals = document.querySelectorAll('.reveal');
            for (var i = 0; i < reveals.length; i++) {
                var windowheight = window.innerHeight;
                var revealtop = reveals[i].getBoundingClientRect().top;
                var revealpoint = 150;
                if (revealtop < windowheight - revealpoint) {
                    reveals[i].classList.add('active');
                }
                else {
                    reveals[i].classList.remove('active');
                }
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <img src="{% static 'beforereg/images/logo1.jpeg' %}" alt="logo" class="logo">
            <nav>
                <ul>
                    <li><a href="/dashboard/">Dashboard</a></li>
                    <li><a href="/loggedin/contactus/">Contact us</a></li>
                    <li><a href="/loggedin/join/">Join a team</a></li>
                    <li><a href="">Find a teammate</a></li>
                    <li><a href={% url 'logoutuser' %}>Sign out</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="bg">
    <div class="loginp">
        <form action="" method="post" name="myForm"><div class="new">
            {% csrf_token %}
        <input list="events" name="eventdrop" placeholder="Choose an event" class="rect">
                <datalist id="events" >
                    <option value="Devjam">
                    <option value="Codestart">
                    <option value="Hackathon">
                    <option value="Hack 36">
                </datalist>
            </div>
          <input type="text" name="funame" class="top" value="{{ user.first_name }} {{ user.last_name }}" disabled >
          <input type="text" name="msid" class="top"  value="{{ user.email }}" disabled >
          <input type="text" name="branch" class="top"  value="{{ b.branch }}" readonly >
          <input type="text" name="skill" class="top" placeholder="Your skills specific to the event" required>
          <input type="number" name="reg_no" class="top" placeholder="Registration number" required>
          <textarea class="skill top" name="skills" id="skills" placeholder="Skills you are looking for in your teammate " cols="120" rows="9" required></textarea>
          <input type="submit" name="signin" class="submit top" value="Find a teammate"><br>
        </form>
      </div>
    </div>
</body>

</html>