{%  load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hats n colleagues | Join a team</title>
    <link rel="stylesheet" type="text/css" href="{% static 'afterlogin/sjoin.css' %}">

</head>

<body>
    <div class="dabba">
        <div class="navbar">
            <img src="{% static 'beforereg/images/logo1.jpeg' %}" alt="logo" class="logo">
            <nav>
                <ul>
                    <li><a href="/dashboard/">Home</a></li>
                    <li><a href="/loggedin/contactus/">Contact us</a></li>
                    <li><a href="#">Join a team</a></li>
                    <li><a href="/loggedin/find/">Find a teammate</a></li>
                    <li><a href="{% url 'logoutuser' %}">Sign out</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="contact">
        <p class="over">Join a team</p>
    </div>
    <div class="box">
        <div class="right">
            <form action="" method="post">
                {% csrf_token %}
                <p class="txt">
                    <label for="choose">CHOOSE AN EVENT : </label>
                </p><br>
                <input list="events" name="eventjoin" placeholder="Select" class="rect">
                <datalist id="events" >
                    <option value="Devjam">
                    <option value="Codestart">
                    <option value="Hackathon">
                    <option value="Hack 36">
                </datalist>
              <!-- <input type="submit" value="Submit" class="button" > -->
                <button name="submitttt" class="button" type="submit" value="Submit" >
                        submit
                </button>
            </form>
        </div>
        <br>
        <div>
            <p class="text">WANNA JOIN A TEAM...</p>
        </div>
    </div>
    {% if accdrop %}
    {% for x in accdrop %}
    <div class="container">
        <div class="upper-container">
             <img src="{% static 'afterlogin/images/pic.png' %}" alt="pic" class="pic">
        </div>
        <div class="lower-container">
             <p class="naam">{{ x.fname_event }}</p>
             <p class="little">
                 {{ x.rqd_skills }}
             </p>
             <div>
                 <button onclick="document.location.href ='{% url 'afterlogin:profile' x.id %}' " name="profile" type="button" class="view">View Profile</button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
        <footer>
            <div class="social">
                <h3 class="foot">
                    STAY CONNECTED !
                </h3>
                <div class="middle">
                    <ul class="last">
                        <li><a href="https://www.linkedin.com/in/anurag-singh-5aa76120b" target="_blank">Linkedin</a>
                        </li>
                        <li><a href="https://www.instagram.com/hats.andcolleagues/" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </footer>
</body>

</html>