<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hats n colleagues | Join a team</title>
    <link href="styling/sjoin.css" rel="stylesheet">
</head>

<body>
    <div class="dabba">
        <div class="navbar">
            <img src="images/logo1.jpeg" alt="logo" class="logo">
            <nav>
                <ul>
                    <li><a href="dashboard.html">Home</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="#">Join a team</a></li>
                    <li><a href="find.html">Find a teammate</a></li>
                    <li><a href="#">Sign out</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="contact">
        <p class="over">Join a team</p>
    </div>
    <div class="box">
        <div class="right">
            <form action="">
                <p class="txt">
                    <label for="choose">CHOOSE AN EVENT : </label>
                </p><br>
                <input list="events" name="event" placeholder="Select" class="rect">
                <datalist id="events">
                    <option value="Devjam">
                    <option value="Codestart">
                    <option value="Robo club competition">
                    <option value="Hack 36">
                </datalist>
                <input type="submit" value="Submit" class="button">
            </form>
        </div>
        <br>
        <div>
            <p class="text">WANNA JOIN A TEAM...</p>
        </div>
    </div>
    <div class="container">
        <div class="upper-container">
            <img src="images/pic.png" alt="pic" class="pic">
        </div>
        <div class="lower-container">
          <p class="naam">Divya Dubey</p>
          <p class="little">Looking for a skillful person to help me in frontend development. Should be well acknowleged
            with html and css.</p>
          <div>
            <button onclick="document.location='profile.html' " name="profile" type="button" class="view">View Profile</button>
          </div>
        </div>
      </div>
        <footer>
            <div class="social">
                <h3 class="foot">
                    STAY CONNECTED !
                </h3>
                <div class="middle">
                    <ul class="last">
                        <li><a href="https://www.linkedin.com/in/anurag-singh-5aa76120b" target="_blank">Linkedin</a>
                        </li>
                        <li><a href="https://www.instagram.com/hats.andcolleagues/" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </footer>
</body>

</html>