
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hats n colleagues | Profile</title>
    <link href="styling/sprofile.css" rel="stylesheet">
</head>
<body>
    <div class="dabba">
        <div class="navbar">
            <img src="images/logo1.jpeg" alt="logo" class="logo">
            <nav>
                <ul>
                    <li><a href="dashboard.html">Home</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="#">Join a team</a></li>
                    <li><a href="find.html">Find a teammate</a></li>
                    <li><a href="#">Sign out</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="box">
        <div class="more">
                <div class="textm"><br>DEVJAM</div>
        </div>
        <div class="less">
            <div class="big"> Divya Dubey</div>
            <ul class="list">
                <li>
                    <span class="heading">MS Team's ID: </span>
                    <span class="material">divya.20208976@mnnit.ac.in</span>
                </li>
                <li>
                    <span class="heading">Registration number: </span>
                    <span class="material">20208976</span>
                </li>
                <li>
                    <span class="heading">Branch: </span>
                    <span class="material">Civil Engineering</span>
                </li>
                <li>
                    <span class="heading">Skills:</span>
                    <span class="material">a quick brown fox jumps over the lazy dog</span>
                </li>
                <li>
                    <span class="heading">Required Skills: </span>
                    <span class="material">Looking for a skillful person to help me in frontend development. Should be
                        well acknowleged
                        with html and css.</span>
                </li>
            </ul>
            <img src="images/photo1.jpeg" alt="man on comp" class="man">
        </div>
    </div>
</body>
</html>
