* {
    margin: 0;
    padding:0;
}
body {
    
    background-color: #111;
}
.logo {
    float: left;
    width: 20%;
  }

  .navbar {
    display: flex;
    background-color: black;
    color: #fff;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;

  }
  .navbar ul {
    list-style-type: none;
  }

  .navbar li {
    display: inline-block;
    padding: 0px 8px;

  }

  .navbar li a {
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
  }
  li a.active{
      background-color: aliceblue;
      color: #262626;
  }
  li a:hover{
      background-color: #fff;
    color: cadetblue;
  }
  .up
{
    margin-top: 105px;
}
.side-navbar {
    background-color: #000;
    color: #fff;
    width: 100%;
 }
  .side-navbar ul {
    list-style-type: none;
  }

  .side-navbar li {
    padding: 12px;

  }

  .side-navbar li a {
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 50px;
    padding: 10px 50px;
    border-radius: 10px;
  }
  .side-navbar li a.active{
      background-color: aliceblue;
      color: #262626;
  }
  nav li a:hover{
      background-color: #fff;
    color: cadetblue;
  }
  nav ul ul {
      position: absolute;
      left: 255px;
      width: 250px;
      top: -200%;
      display: none;
      background-color:#000;
      border-radius: 8px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  }
  nav ul .dropdown {
      position: relative;
  }
  nav ul .dropdown:hover ul {
      display: initial;
  }
  .blue {
      z-index: -1;
      opacity: 0.4;
      position: fixed;
      width: 80%;
      height: 550px;
  }
.dibba{
    margin-top: 97px;
}
.left-container {
    background-color: rgb(17, 100, 138);
    float: left;
    width: 24%;
    height: 550px;
    position: fixed;
    z-index: 1;
}
.right-container {
    float: right;
    width: 76%;
    height: 560px;
}
.main {
    font-family: sans-serif;
    font-size: 250%;
    font-weight: bold;
    letter-spacing: 13px;
    margin: 40px 0px 25px -20px;
    text-decoration: underline;
    text-align: center;
    color: #fff;
}
.face {
    text-align: center;
}
.picture {
    margin: 40px;
    height: 125px;
    width: 125px;
    border-radius: 62px;
  }
.welcome {
    font-size: 300%;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.box {
    text-align: center;
    width: 70%;
    margin: 35px 160px 25px;
    height: 380px;
    font-size: 160%;
    background-color: rgb(231, 236, 241);
    opacity: 0.9;
    border-radius: 10px;
}
.cover {
    display: flex;
}
.r {
    margin-top: 25px;
    font-size: 130%;
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
}
.r2 {
    flex: 5;
}
.r3 {
    flex:3
}
.row2 {
    margin-top: 25px;
    flex: 5;
    color: #777;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 130%;
}
.row3 {
    flex:3;
}
.key {
    margin-top: 25px;
    font-size: 85%;
    padding: 10px;
    background-color: red;
    color: black;
    border-radius: 8px;
}
.key:hover {
    background-color: #777;
}